* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 56, 56);
    min-height: 600px;
    padding: 50px;
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.principal {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000070;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #4b4b4b;
}

.descricao {
    margin: 20px;
}

.imagem {
    display: flex;
    justify-content: center;
}

.imagem img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #32ff2b;
    box-shadow: 0px 0px 30px #000000;
}

.informacoes {
    text-align: center;
}

.informacoes h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin: 10px 0px;
}

.informacoes p{
    font-size: 16px;
}

.links-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.links-projetos button {
    width: 300px;
    height: 50px;
    background: transparent;
    border: 2px solid #32ff2b;
    margin: 10px 0px;
    cursor: pointer;
}

.links-projetos button:hover {
    background-color: #32ff2b;
    a{
        color: #000000;
    }
}

.redes-sociais {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.bi {
    font-size: 26px;
}

.bi:hover{
    color: #32ff2b;
    transition: 0.5s;
}